.digital {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  /* mau nen xanh dam */
  background-color: blue;

  /* tao duong vien mau xanh dam  10px */
  border: 10px solid blue;

  /* khoang cach giua cac phan tu con */
  gap: 10px;
}
.digital > div {
  padding: 20px;
}
.digital > div > div > h2 {
  margin-top: 0;
}
.goals {
  grid-column: 1/3;
  grid-row: 1/2;
}

.team {
}
.goal-item {
  padding: 10px 20px;
  border-bottom: 0.5px solid gray;
}
.timeline {
  grid-column: 4/5;
  grid-row: 1/3;
}

.scopes {
  grid-column: 1/3;
  grid-row: 2/3;
}

h2 {
  color: blue;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}
.timeline-item .content {
  border-bottom: 1px dotted blue;
}
.timeline-item {
  margin: 20px 0 30px;
}
.team-item {
  margin: 20px 0;
}

.primacy-item .content {
  border-bottom: 1px;
}

.primacy-item {
  margin: 20px 0;
}

.scopes-item {
  margin: 20px 0;
  border-bottom: 1px;
}

p {
  margin: 0;
}
.scope {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
}

.scope .in {
  grid-column: 1/2;
  grid-row: 1/3;
}

.out {
  grid-column: 2/3;
  grid-row: 1/3;
}

.goals,
.team,
.timeline,
.scopes,
.primary {
  background-color: white;
}
i {
  font-size: 24px;
}
.number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: aliceblue;
  background: rgb(171, 130, 238);
  padding-top: 12px;
  text-align: center;
  border: 1px solid #010e11da;
}
.Goalicon1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.lorem1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.Goalicon2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.lorem2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.Goalicon3 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.lorem3 {
  grid-column: 2/3;
  grid-row: 1/2;
}
